<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FFUpscalerHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FFUpscalerHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <FFUpscalerHelper.Properties.Settings>
      <setting name="dimension_png" serializeAs="String">
        <value>720x540</value>
      </setting>
      <setting name="ffmpeg_location" serializeAs="String">
        <value>NotSet</value>
      </setting>
      <setting name="open_folder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="selectedPreset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="presets" serializeAs="String">
        <value>x264: 1080p 24fps
-r 24000/1001 -f image2 -start_number 1 -i [InputImgLocation]\%06d.png -c:v libx264 -preset veryslow -crf 18 -pix_fmt yuv420p -profile:v high -level:v 4.1 -refs 4 -bf 3 -vf colormatrix=bt601:bt709 -color_primaries bt709 -color_trc bt709 -colorspace bt709 [OutputLocation]
x264: 1080p 25fps
-r 25 -f image2 -start_number 1 -i [InputImgLocation]\%06d.png -c:v libx264 -preset veryslow -crf 18 -pix_fmt yuv420p -profile:v high -level:v 4.1 -refs 4 -bf 3 -vf colormatrix=bt601:bt709 -color_primaries bt709 -color_trc bt709 -colorspace bt709 [OutputLocation]</value>
      </setting>
    </FFUpscalerHelper.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <FFUpscalerHelper.Properties.Settings>
      <setting name="DefaultFfmpegPreset" serializeAs="String">
        <value>-r 24000/1001 -f image2 -start_number 1 -i [InputImgLocation]\%06d.png -c:v libx264 -preset veryslow -crf 18 -pix_fmt yuv420p -profile:v high -level:v 4.1 -refs 4 -bf 3 -vf colormatrix=bt601:bt709 -color_primaries bt709 -color_trc bt709 -colorspace bt709 [OutputLocation]</value>
      </setting>
    </FFUpscalerHelper.Properties.Settings>
  </applicationSettings>
</configuration>